/*

Theme Name: Avada Child

Description: Child theme for Avada theme

Author: ThemeFusion

Author URI: https://theme-fusion.com

Template: Avada

Version: 1.0.0

Text Domain:  Avada   

*/
.cross1{float: right;
	margin: 31px;}
.menu-footer-menu-container #menu-footer-menu li#menu-item-771 {
    display: none;
}
div#legit-link p {
    margin-bottom: 0px;
}
form#mc4wp-form-1 input[type="submit"] {
    width: 135px !important;
    background-color: #1d1d1d;
    border: none;
    color: #fff;
    height: 45px !important;
    font-size: 16PX;
}

form#mc4wp-form-1 input[type="email"] {
    min-width: 275px !important;
    max-width: 275px !important;
    border-radius: 0px !important;
    background-color: #1d1d1d;
    border: none;
    height: 55px !important;
}


form#mc4wp-form-1 {
    background-color: #0f0f0f !important;
}
.newsletter-api-form-theme1 .newsletter_form1 {
    background-color: #000 !important;
}
.fusion-footer-widget-area.fusion-widget-area #text-3 p {
    margin-bottom: 0px;
}
div#Swidish-main-post-home div#main-po-di {
    background-color: #f1f1f1;
    min-height: 471px !important;
}
div#Swidish-main-post-home div#main-po-di .fusion-text a {
    color: #333 !important;
}
div#Swidish-main-post-home div#main-po-di .fusion-text {
    padding: 30px 25px 20px 25px;
}

div#Swidish-main-post-home div#main-po-di .fusion-text h3 {
    margin-top: 10px;
    font-size: 24px;
    color: #333 !important;
    margin-bottom: 0px;
}

div#Swidish-main-post-home div#main-po-d .fusion-text h3 a {
    color: #333 !important;
}
div#Home-main-post .fusion-layout-column.fusion_builder_column {
    /*background-color: #f1f1f1;*/
  
}

div#Home-main-post .fusion-layout-column.fusion_builder_column .fusion-text h3 {
    margin-top: 10px;
    font-size: 24px;
    color: #333 !important;
    margin-bottom: 0px;
}
div#Home-main-post .fusion-layout-column.fusion_builder_column .fusion-text h3 a {
    color: #333 !important;
}

#ulpb_Row159823-column1 {
    padding-left: 0px !important;
}
#pb_FormBuilder_6320 .pbFormField {
    min-width: 277px !important;
}
main#main {
	padding-top: 30px !important;
}
section#content .fusion-fullwidth {
	margin-top: 0px !important;
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-icon:hover:before {
	color: #000000 !important;
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-menu-toggle:hover .fusion-toggle-icon-line, .fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle:hover .fusion-toggle-icon-line {
	background-color: #000000 !important;
}
.fusion-main-menu.fusion-flyout-menu ul#menu-main-menu li a:hover {
	color: #000000 !important;
}
#wrapper .fusion-header-has-flyout-menu .fusion-flyout-search .searchform .s {
	color: #252525;
	border-color: #252525;
	font-family: Roboto;
	font-style: normal;
	border: none !important;
	box-shadow: none !important;
}
.post-content .fusion-layout-column article .fusion-image-wrapper .fusion-rollover {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0,0,0,0.1)));
	background-image: linear-gradient(to top, #000000 0, rgba(, 0, 0, 0.1) 100%);
}
.post-content .fusion-layout-column article .fusion-post-content-wrapper {
	background: #f1f1f1;
}
.post-content .fusion-layout-column article .fusion-post-wrapper:hover {
	border-bottom: solid 3px #00000 !important;
}
.post-content .fusion-layout-column article .fusion-post-content-wrapper {
	padding-top: 19px !important;
}
.post-content .fusion-layout-column article .fusion-post-wrapper h2 {
	text-align: left;
	margin-bottom: 7px;
	color: #104ba9;
	font-weight: 300 !important;
}
.post-content .fusion-layout-column article .fusion-post-wrapper h2 a {
	color: #000000 !important;
}
.post-content .fusion-layout-column article .fusion-image-wrapper img {
	transform: scale(1);
	transition: transform .5s ease 0s;
}
.post-content .fusion-layout-column article:hover .fusion-image-wrapper img {
	transform: scale(1.03);
	transition: transform .5s ease 0s;
}
.post-content .fusion-layout-column article .fusion-post-wrapper h2:hover {
	color: #000000;
}
.post-content .fusion-layout-column article:hover .fusion-post-wrapper h2:hover {
	color: #000000;
}
.post-content .fusion-layout-column article .fusion-post-wrapper .fusion-post-content-container p {
	text-align: left;
	font-size: 15px;
}
.bg-text-block-wrapper {
	padding: 0px !important;
	text-align: center;
}
.bg-text-block-wrapper .fusion-column-wrapper h3.h3text {
	font-size: 51px;
	margin-top: 3px;
	margin-bottom: 9px;
	color: #fff;
}
.bg-text-block-wrapper .fusion-column-wrapper h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
}
.bg-text-block-wrapper .fusion-column-wrapper p {
	color: #fff;
	max-width: 52%;
	margin: 0px auto;
}
.bg-text-block-wrapper .fusion-column-wrapper a.fusion-button {
	background: none;
	border: solid 1px #fff;
	border-radius: 0;
	margin-top: 21px;
	padding: 11px 28px;
	font-weight: normal;
}
.bg-text-block-wrapper .fusion-column-wrapper a.fusion-button:hover {
	background: #000000;
	border: solid 1px #000000;
	transition: all 500ms;
}
.careers-capital-wrapper {
	padding-top: 50px !important;
	padding-bottom: 21px !important;
}
.careers-capital-wrapper .fusion-column-wrapper {
	padding-top: 0px !important;
}
.careers-capital-wrapper h6.title-heading-center {
	font-size: 19px;
	font-weight: normal;
	color: #000;
}
.careers-capital-wrapper h3 {
	font-size: 45px !important;
	margin-bottom: 0px !important;
	color: #000 !important;
	margin-top: 12px !important;
}
.careers-capital-wrapper .fusion-title.title {
	margin-bottom: 10px !important;
}
.careers-capital-wrapper .fusion-text.ptext-center p {
	margin: 0px auto;
	float: none;
	max-width: 47%;
	text-align: center;
	line-height: 24px;
	color: #000; 
}
.careers-capital-wrapper .fusion-text.ptext-center {
	margin-bottom: 35px;
}
/* ==================Footer================== */ 

.fusion-footer footer .contact-info-container p {
	/*padding-left: 20px;*/
	position: relative;
	margin-bottom: 9px;
	font-size: 15px;
}
/*.fusion-footer footer .contact-info-container p.address:before {
	content: "\f041";
	width: 18px;
	height: 26px;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 23px;
	position: absolute;
	left: 0;
	top: -3px;
}
.fusion-footer footer .contact-info-container p.mobile:before {
	content: "\f095";
	width: 18px;
	height: 26px;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 19px;
	position: absolute;
	left: 0;
	top: -2px;
}
.fusion-footer footer .contact-info-container p.email:before {
	content: "\f003";
	width: 18px;
	height: 26px;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 18px;
	position: absolute;
	left: -5px;
	top: -1px;
}*/
.fusion-footer footer h.widget-title {
	position: relative;
	padding-left: 12px;
}
.fusion-footer footer h.widget-title:before {
	content: "";
	background: url(images/arrow-arrpw.png);
	display: inline-block;
	position: absolute;
	left: -5px;
	top: -1px;
	width: 11px;
	height: 26px;
}

header .fusion-main-menu ul li {
    margin-right: 7px;   
}


.fusion-footer footer .fusion-social-networks .fusion-social-networks-wrapper a {
	width: 35px;
	text-align: center;
	background: #1d1d1d;
	height: 35px;
	margin-bottom: 0px;
	line-height: 35px;
	margin-right: 0px;
	color: #fff !important;
}
.fusion-footer footer section#media_image-3 {
	margin-bottom: 0px;
}
.fusion-footer footer section#text-2 {
	margin-bottom: 26px;
}
.fusion-footer footer p {
	font-size: 15px;
}
.fusion-footer footer {
	padding-top: 42px;
	padding-bottom: 20px;
}
footer#footer {
	padding-top: 20px;
	padding-bottom: 20px;
}
.fusion-footer footer section#email-subscribers-form-2 .es-field-wrap input {
	border-radius: 0px !important;
	background: #1d1d1d !important;
	border: solid 2px #1d1d1d !important;
	height: 56px !important;
	color: #fff;
}
.fusion-footer footer section#email-subscribers-form-2 .es-field-wrap input:focus {
	border: solid 2px #252525 !important;
}
.fusion-footer footer section#email-subscribers-form-2 input.es_subscription_form_submit {
	width: auto !important;
	height: 48px !important;
	border: none !important;
	padding: 0px 32px !important;
	background: #1d1d1d !important;
	color: #fff !important;
	margin-top: 7px !important;
	cursor: pointer;
}
.fusion-footer footer section#email-subscribers-form-2 input.es_subscription_form_submit:hover {
	background: #1b1a1a !important;
}
/* .fusion-logo {
	width: 100%;
} */
header .fusion-main-menu ul li {
    margin-right: 0;
    flex: unset;
    padding: 10px 20px;
    width: auto !important;
}
.bg-text-block-wrapper {
	position: relative;
}
.bg-text-block-wrapper:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 333;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.3);
}
.bg-text-block-wrapper .fusion-builder-row.fusion-row {
	z-index: 999;
}
.bg-text-block-wrapper {
	margin-top: 22px;
}
/* ==================Contact================== */ 
.contact-details-form h1 {
	font-weight: 300 !important;
	color: #000000 !important;
}
.wrapper-banner h1 {
	font-weight: initial !important;
	font-size: 45px !important;
}
.contact-us-wrapp .col-sm-6 {
	margin-bottom: 15px;
}
.contact-us-wrapp input {
	border: none !important;
	border-radius: 0px !important;
	height: 50px !important;
	
	border: none;
	border-bottom: 1px solid rgba(20,30,85,0.3) !important;
	padding-left: 5px !important;
	color: #727273 !important;
}
.contact-us-wrapp input.wpcf7-countrytext {
	padding-left: 56px !important;
}
.contact-us-wrapp input.wpcf7-phonetext {
	padding-left: 58px !important;
}
 .contact-us-wrapp input::-webkit-input-placeholder { /* Edge */
color: #727273 !important;
}
 .contact-us-wrapp input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #727273 !important;
}
 .contact-us-wrapp input::placeholder {
color: #727273 !important;
}
 .contact-us-wrapp textarea::-webkit-input-placeholder { /* Edge */
color: #727273 !important;
}
 .contact-us-wrapp textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #727273 !important;
}
 .contact-us-wrapp textarea::placeholder {
color: #727273 !important;
}
.contact-us-wrapp input:focus {
	border-bottom: solid 1px #000000 !important;
}
.contact-us-wrapp textarea:focus {
	border-bottom: solid 1px #000000 !important;
}
.contact-us-wrapp textarea {
	border-radius: 0px !important;
	border: none !important;
	margin-top: 16px;
	margin-bottom: 20px;
	
	border-bottom: 1px solid rgba(20,30,85,0.3) !important;
	padding-left: 5px !important;
	text-transform: inherit;
}
.page-id-19 .contact-details-form {
	margin-bottom: 32px;
}
.page-id-917 .contact-us-wrapp {
	max-width: 75%;
	margin: 0px auto !important;
}
.contact-details-form {
	background: none !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.contact-us-wrapp input.submits {
	background: #003366 !important;
	margin-left: 17px;
	margin-bottom: 52px !important;
}
.contact-us-wrapp input.submits:hover {
	background: #fff!important;
	color: #fff !important;
}
.contact-us-wrapp .fusion-separator.fusion-full-width-sep.sep-none {
	display: none;
}
.contact-us-wrapp h1.title-heading-left {
	padding-left: 18px !important;
}
.contact-add h1.title-heading-left {
	border-bottom: solid 1px #c5c3c3;
	padding-bottom: 12px !important;
}
.contact-add .fusion-title {
	margin-bottom: 19px !important;
}
.contact-add i.fa {
	margin-right: 9px;
}
.page-id-19 main#main {
	padding-bottom: 0px !important;
}
.page-id-19 main#main .fusion-layout-column {
	margin-bottom: -11px !important;
}
.Job-description-wrapper p.pbold {
	font-weight: bold;
	color: #fff !important;
}
.fusion-body .fusion-main-menu .current-menu-ancestor>a, .fusion-body .fusion-main-menu .current-menu-item>a, .fusion-body .fusion-main-menu .current-menu-parent>a, .fusion-body .fusion-main-menu .current_page_item>a {
	color: #000000 !important;
}
.Job-description-wrapper p {
	color: #000;
	font-size: 15px;
}
.Job-description-wrapper ul li {
	color: #020202;
}
.Job-description-wrapper h3 {
	margin: 0px;
}
.Job-description-wrapper h3 {
	margin: 0px;
	color: #000 !important;
	font-size: 20px !important;
	margin-bottom: 0px !important;
}
.Job-description-wrapper .fusion-title {
	margin-bottom: 10px !important;
}
.Job-description-wrapper {
	background: #fff !important;
	padding: 28px !important;
	position: relative !important;
	top: -109px !important;
	max-width: 86%;
	margin: 0px auto;
	border-radius: 8px;
	padding-top: 36px !important;
}
.fusion-page-title-bar .fusion-page-title-row h1 {
	font-size: 51px !important;
	line-height: 1.2em;
	font-weight: normal !important;
	color: #fff !important;
}
.page-id-882 main#main {
	padding-bottom: 0px !important;
}
/* ==================About================== */ 
.about-wrapper h6 {
	margin: 0px;
	margin-bottom: 19px;
	color: #003366 !important;
	font-size: 26px !important;
	font-weight: 500 !important;
}
/* ==================Discretionary-management================== */ 

.discretionary-img img {
	max-width: 79%;
}
.discretionary-management h {
	max-width: 59% !important;
	margin: 0px auto;
	margin-bottom: 46px !important;
	font-size: 31px !important;
	color: #333 !important;
	font-weight: 600 !important;
}
/* ==================become-a-client================== */ 
.page-id-917 .contact-us-wrapp {
	margin-bottom: 0px !important;
}
.contact-us-wrapp input.submits {
	margin-bottom: 15px !important;
	padding: 10px 29px !important;
	color: #ffffff !important;
	border-radius: 8px!important;
	border: solid 2px #3399ff !important;
}
.contact-us-wrapp input.submits:hover {
	margin-bottom: 15px !important;
	padding: 10px 29px !important;
	color: #003366 !important;
	border-radius: 8px!important;
	border: solid 1px #3399ff !important;
}
/* ==================certificates================== */
.page-id-886 main#main .post-content {
	background: #fff !important;
	padding: 34px !important;
	max-width: 86%;
	margin: 0px auto;
	margin-top: -143px;
}
.certificates-page {
	border-bottom: solid 1px #e8e6e6;
	padding-bottom: 20px !important;
	margin-bottom: 39px;
	background: #fff !important;
	padding: 41px !important;
}
.certificates-page h3 {
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: 300 !important;
	color: #000000 !important;
	font-size: 1em;
}
.certificates-page ul {
	padding-left: 19px;
	margin-top: 6px;
}
.theblock-wrappe .text-imgerapp h3 {
	font-weight: 300 !important;
	color: #fff !important;
	font-size: 24px;
	margin-bottom: 7px;
	margin-top: 11px;
}
.theblock-wrappe .text-imgerapp p {
	color: #fff;
	line-height: 23px;
}
.theblock-wrappe span.fusion-imageframe {
	position: relative;
}
.theblock-wrappe span.fusion-imageframe:after {
	content: "";
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	top: 0px !important;
	z-index: 999 !important;
	display: inline-block !important;
	left: 0;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0,0,0,0.1)));
	background-image: linear-gradient(to top, #000000 0, rgba(, 0, 0, 0.1) 100%);
}
.theblock-wrappe .text-imgerapp {
	position: absolute;
	width: 100%;
	bottom: 1px;
	z-index: 999;
	padding-left: 20px;
	padding-right: 20px;
}
.theblock-wrappe {
	margin-top: 30px !important;
}

.theblock-wrappe span.fusion-imageframe img {
	transform: scale(1);
	transition: transform .5s ease 0s;
}
.theblock-wrappe .fusion-column-wrapper:hover span.fusion-imageframe img {
	transform: scale(1.03);
	transition: transform .5s ease 0s; 
}
.container-one { 
	float: left;
	width: 100%;
}
.container-one h3 {
	margin: 0px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 300 !important;
	color: #000000 !important;
	margin-top: 20px;
}
.Container3 {
	float: left;
	width: 100%;
}
.fusion-page-title-bar .fusion-page-title-row {
	position: relative;
	z-index: 999;
}
.fusion-page-title-bar {
	position: relative;
}
.fusion-page-title-bar:after {
	content: "";
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	/*background-image: -webkit-gradient(linear, left bottom, left top, from(#000000cf), to(rgba(0, 0, 0, 0.5)));
	background-image: linear-gradient(to top, #000000cf 0, rgba(0, 0, 0, 0.5) 100%);*/
}
.googlemaps iframe {
	width: 100%;
}
/* ==================complain================== */ 
.page-id-1012 .post-content .fusion-fullwidth {
	background: #fff !important;
	padding: 32px !important;
}
.page-id-1012 .post-content {
	max-width: 82%;
	margin: 0px auto;
	background: #fff !important;
}
.complain-wrapper h3 {
	font-weight: 500 !important;
	color: #000000 !important;
	font-size: 19px !important;
	margin-top: 0px;
	border-bottom: solid 1px #000000;
	padding-bottom: 6px;
	margin-bottom: 17px;
}
.complain-wrapper .fusion-layout-column {
	margin-bottom: 0px !important;
}
.complain-wrapper ul {
	padding: 0px;
}
.complain-wrapper ul li {
	list-style: none;
}
.complain-wrapper ul li .fa {
	margin-right: 7px;
}
.right-column-img-text h2 {
	margin-bottom: 24px !important;
	color: #000 !important;
	font-weight: normal !important;
	margin-bottom: 14px !important;
	font-size: 27px !important;
}
.right-column-img-text h3 {
	margin: 0px;
	font-size: 18px !important;
	color: #353535 !important;
	margin-bottom: 12px;
	font-weight: 500 !important;
	margin-top: 11px !important;
}
/* ==============menu============== */
header .fusion-main-menu .menu-main-menu-container {
    width: 100%;
    max-width: 1175px;
    margin: 0px auto;
    margin-top: 20px;
    background: #fff !important;
}
header .fusion-main-menu .menu-main-menu-sw-container {
	width: 100%;
	max-width: 1175px;
	margin: 0px auto;
	margin-top: 20px;
}
header .fusion-main-menu ul li {
   float: left;
}
header .fusion-main-menu ul li ul.sub-menu li {
	width: 100%;
	float: left;
}
header .fusion-main-menu ul li a {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
	padding: 0px 8px;
}
header .fusion-main-menu ul li ul.sub-menu li a {
	font-size: 14px;
	text-transform: none;
	padding: 8px 0px;
	border-bottom: solid 1px #e2e2e2;
}

.fusion-main-menu .sub-menu li a:hover {
    background: none !important;
}


/* ==============modal============== */
.fusion-modal .modal-content h3.modal-title {
	font-size: 26px;
	font-weight: 300 !important;
	color: #000000 !important;
}
.fusion-modal .modal-content .modal-body p {
	font-size: 15px;
	margin-top: 0px;
}
.fusion-modal .modal-content a.fusion-button {
	margin-bottom: 15px !important;
	padding: 10px 29px !important;
	color: #000000 !important;
	background: #000000;
	border: solid 1px #000 !important;
	border-radius: 0px;
	color: #fff !important;
	font-weight: normal;
}
.fusion-modal .modal-content {
	border: none !important;
}
.fusion-header-has-flyout-menu .fusion-flyout-menu {
	align-items: top !important;
	-ms-flex-align: top !important;
}
/* ==============portfolio-landing============== */

.pioneering-wrapper-bg {
	max-width: 58%;
	text-align: center !important;
	margin: 0px auto !important;
	margin-bottom: 51px !important;
}
.pioneering-wrapper-bg .fusion-title {
	margin-top: 21px !important;
}
.pioneering-wrapper-bg .fusion-title p {
	font-weight: normal;
}
.portfolio-tabs-wrapper li a h {
	font-weight: 500 !important;
	color: #000000 !important;
	font-size: 21px !important;
}
.portfolio-tabs-wrapper li.active a {
	background: #fff !important;
}
.portfolio-tabs-wrapper li a {
	background: #e2e8ff !important;
	border-top: #2e313c !important;
}
.portfolio-tabs-wrapper .tab-content .tab-pane {
	padding: 25px;
}
.our-products-wrapper h3.title-heading-center {
	font-weight: 500 !important;
	color: #000000 !important;
	font-size: 24px !important;
}
/*li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1163 {
	display: none;
}*/
/*li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1292 {
	display: none;
}*/
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1293 {
	display: none;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1294 {
	display: none;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1295 {
	display: none;
}
.qa-wrapper h3 {
	margin: 0px;
	margin-bottom: 7px !important;
	color: #000000 !important;
	font-weight: 500 !important;
	font-size: 19px !important;
}
.fusion-header-has-flyout-menu .fusion-flyout-menu {
	display: inline-block !important;
}
.fund-landing-wrappper h3 {
	margin-bottom: 2px !important;
	font-weight: 300 !important;
	font-size: 26px !important;
	color: #000000 !important;
}
.dynamic-model-wrapper iframe {
	width: 297px !important;
	height: 170px !important;
	margin: 0px auto !important;
	text-align: center !important;
}
.dynamic-model-wrapper .fusion-video {
	max-height: initial !important;
	height: 171px;
	text-align: center !important;
	margin: 0px auto;
	display: inline-block;
	float: left;
	width: 100% !important;
}
.video-shortcode {
	float: left;
	width: 100%;
}
.dynamic-model-wrapper .fusion-video .fluid-width-video-wrapper {
	padding: 0px !important;
	text-align: center !important;
	width: 279px !important;
	margin: 0px auto !important;
}
.page-id-1019 main#main {
	padding: 0px !important;
	background-color: #efefef !important;
}
.page-id-1019 main#main .fusion-row {
	width: 100% !important;
	max-width: 100%;
}
.page-id-1019 main#main .fusion-builder-row.fusion-row {
	max-width: 100% !important;
	width: 1200px !important;
	padding-top: 52px;
	position: relative;
	z-index: 999;
}
.right-column-img-text .fusion-column-wrapper {
	padding: 10px !important;
	background-color: rgba(255, 255, 255, 0.9);
}
.right-column-img-text .fusion-column-wrapper p {
	color: #585858;
	font-size: 16px;
}
/*.page-id-1019 main#main .fusion-fullwidth:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 333;
	display: inline-block;
	left: 0px;
	top: 0px;
	opacity: 0.8;
}*/
/* ==============result============== */
.fusion-chart-inner {
	/*background: #fff;*/
	margin-bottom: 68px;
}
.page-id-893 main#main {
	padding: 0px !important;
	background: #efefef !important;
}
.page-id-893 main#main .fusion-row {
	width: 100% !important;
	max-width: 100%;
}
.page-id-893 main#main .fusion-builder-row.fusion-row {
	max-width: 100% !important;
	width: 1200px !important;
	padding-top: 52px;
	position: relative;
	z-index: 999;
	margin-bottom: 32px;
}
/*.page-id-893 main#main .fusion-fullwidth:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 333;
	display: inline-block;
	left: 0px;
	top: 0px;
	opacity: 0.8;
}*/
.right-column-img-text {
	margin-bottom: 0px !important;
}
h.fusion-chart-title {
	color: #fff !important;
	font-weight: 300 !important;
	font-size: 21px !important;
}
.fusion-chart-inner .fusion-chart-legend-wrap {
	padding-top: 14px;
}
/* ==============method/stable-perfomance============== */
.fusion-chart-inner {
	/*background: #fff;*/
	margin-bottom: 68px;
}
.page-id-1023 main#main {
	padding: 0px !important;
	background: #efefef !important;
}
.page-id-1023 main#main .fusion-row {
	width: 100% !important;
	max-width: 100%;
}
.page-id-1023 main#main .fusion-builder-row.fusion-row {
	max-width: 100% !important;
	width: 1200px !important;
	padding-top: 52px;
	position: relative;
	z-index: 999;
}
/*.page-id-1023 main#main .fusion-fullwidth:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 333;
	display: inline-block;
	left: 0px;
	top: 0px;
	opacity: 0.8;
}*/
ul.Stabilt-block li {
	list-style: none;
	margin-bottom: 40px;
}
ul.Stabilt-block {
	padding: 0px;
	margin: 0px;
	width: 45%;
	float: left;
	margin-right: 23px;
}
.page-id-1023 h.fusion-chart-title {
	float: left;
	width: 100%;
}
.fusion-chart-inner {
	width: 488px !important;
	margin: 0px auto !important;
}
.margin-bottom-row {
	margin-bottom: 24px !important;
}
header .fusion-main-menu .menu-main-menu-container ul > li.menu-item-1125 {
	
}
.dynamic-model-pge {
	margin-bottom: 37px;
}
/* ==========client-fully-inform=========== */ 

span.Client-Fully-Informed-img img {
	max-width: 100% !important;
	margin-top: 7px;
}
.page-id-1025 main#main {
	padding: 0px !important;
	background: #efefef !important;
}
.page-id-1025 main#main .fusion-row {
	width: 100% !important;
	max-width: 100%;
}
.page-id-1025 main#main .fusion-builder-row.fusion-row {
	max-width: 100% !important;
	width: 1200px !important;
	padding-top: 52px;
	position: relative;
	z-index: 999;
}
/*.page-id-1025 main#main .fusion-fullwidth:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 333;
	display: inline-block; 
	left: 0px;
	top: 0px;
	opacity: 0.8;
}*/
/* ==========3-step-analsis=========== */
.page-id-1028 main#main {
	padding: 0px !important;
	background: #efefef !important;
}
.page-id-1028 main#main .fusion-row {
	width: 100% !important;
	max-width: 100%;
}
.page-id-1028 main#main .fusion-builder-row.fusion-row {
	max-width: 100% !important;
	width: 1200px !important;
	padding-top: 52px;
	position: relative;
	z-index: 999;
}
/*.page-id-1028 main#main .fusion-fullwidth:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 333;
	display: inline-block;
	left: 0px;
	top: 0px;
	opacity: 0.8;
}*/
/* ==========satisfied-clients =========== */
.step-analsis-img {
	margin-bottom: 31px;
	margin-left: 21px;
}
.satisfied-clients {
	margin-bottom: 24px;
}
.page-id-1030 main#main {
	padding: 0px !important;
	background: #efefef !important;
}
.page-id-1030 main#main .fusion-row {
	width: 100% !important;
	max-width: 100%;
}
.page-id-1030 main#main .fusion-builder-row.fusion-row {
	max-width: 100% !important;
	width: 1200px !important;
	padding-top: 52px;
	position: relative;
	z-index: 999;
}
/*.page-id-1030 main#main .fusion-fullwidth:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 333;
	display: inline-block;
	left: 0px;
	top: 0px;
	opacity: 0.8;
}*/
.comment-box {
	position: relative !important;
	right: -45px;
	top: 35%;
}
.comment-box .one {
	background: #dae3f3;
	width: 117px;
	border-radius: 33px;
	padding: 10px 15px;
	text-align: center;
	font-size: 15px;
	margin-bottom: 20px;
	color: #011154;
	line-height: 19px;
}
/* ==========single-post=========== */
.single-post .comment-respond textarea {
	border-radius: 0px !important;
	border: none !important;
	margin-top: 16px;
	margin-bottom: 20px;
	background: none !important;
	border-bottom: 1px solid rgba(20,30,85,0.3) !important;
	padding-left: 0px !important;
	text-transform: capitalize;
}
.single-post .comment-respond input {
	border: none !important;
	border-radius: 0px !important;
	height: 50px !important;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(20,30,85,0.3) !important;
	padding-left: 0px !important;
	color: #727273 !important;
}
 .single-post .comment-respond input::-webkit-input-placeholder { /* Edge */
color: #727273 !important;
}
.single-post .comment-respond input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #727273 !important;
}
.single-post .comment-respond input::placeholder {
color: #727273 !important;
}
 .single-post .comment-respond textarea::-webkit-input-placeholder { /* Edge */
color: #727273 !important;
}
.single-post .comment-respond textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #727273 !important;
}
.single-post .comment-respond textarea::placeholder {
color: #727273 !important;
}
.single-post .comment-respond input.fusion-button {
	margin-bottom: 15px !important;
	padding: 10px 29px !important;
	color: #000000 !important;
	background: none !important;
	border: solid 1px #000 !important;
}
.single-post .comment-respond input.fusion-button:hover {
	background: #000 !important;
	color: #fff !important;
}
.single-post section.related-posts h.fusion-carousel-title a {
	font-weight: 300;
	color: #000000 !important;
	font-size: 23px;
	margin-bottom: 12px !important;
}
.single-post section.related-posts .fusion-title.fusion-title-size-three h3 {
	color: #000000 !important;
	font-size: 22px !important;
}
.single-post section.related-posts .fusion-rollover {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0,0,0,0.1)));
	background-image: linear-gradient(to top, #000000 0, rgba(, 0, 0, 0.1) 100%);
}
.single-post .comment-respond h3#reply-title {
	color: #000000 !important;
	font-size: 22px !important;
}
/* ==========blog=========== */
.blog-wrapper-row h2.blog-shortcode-post-title a {
	color: #000000 !important;
	font-size: 22px !important;
	font-weight: 500 !important;
}
/* ==========fund-information=========== */
.fund-facts-wrapper .fusion-title {
	margin-bottom: 3px !important;
}
.fund-facts-wrapper .fusion-title h3.title-heading-left {
	font-weight: 300 !important;
	color: #000000 !important;
	font-size: 23px;
}
.fund-facts-wrapper .fund-facts-wrappper-bg h3.title-heading-left {
	color: #fff !important;
	margin-bottom: 17px !important;
}
.fund-facts-wrapper .fund-facts-wrappper-bg p {
	color: #fff;
	font-size: 14px;
}
ul.ol-list li {
	list-style: none;
}
ul.ol-list {
	padding: 0px;
}
.home-page-blog .pagination {
	display: none !important;
}
.become-client-home-page .fusion-title.title .title-sep-container {
	display: none;
}
.become-client-home-page .fusion-title.title h1.title-heading-left {
	display: none;
}
.become-client-home-page .fusion-title.title h3 {
	font-weight: 300 !important;
	color: #000000 !important;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 3px;
	padding-right: 0px !important;
}
.become-client-home-page {
	background: #efefef !important;
	padding-top: 31px !important;
}
.become-client-home-page .wpcf7 {
	max-width: 73%;
	margin: 0px auto;
}
.become-client-home-page .wpcf7 input {
	padding-left: 20px !important;
}
.become-client-home-page .wpcf7 input.wpcf7-countrytext {
	padding-left: 53px !important;
}
.become-client-home-page .wpcf7 input.wpcf7-phonetext {
	padding-left: 53px !important;
}
.become-client-home-page .wpcf7 textarea {
	background: #fff !important;
	padding-left: 19px !important;
	padding-top: 19px;
}
.latest-blogs-title h3 {
	font-weight: 300 !important;
	color: #000!important;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 3px;
	padding-right: 0px !important;
}
.home main#main {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.home-page-result h.fusion-chart-title {
	text-align: left;
	margin-left: 86px;
	margin-bottom: 7px;
	margin-top: 14px;
	color: #000000 !important;
	margin-bottom: 27px;
}
.home-page-result a.fusion-button span {
	color: #000000 !important;
}
.home-page-result a.fusion-button {
	border-radius: 0px;
	margin-bottom: 15px !important;
	padding: 10px 29px !important;
	color: #000000 !important;
	background: none !important;
	border: solid 1px #000 !important;
}
.home-page-result a.fusion-button:hover {
	background-color: #000000 !important;
	color: #fff !important;
}
.home-page-result a.fusion-button:hover span {
	color: #fff !important;
}
.home-page-result {
	padding-bottom: 35px !important;
}
.title-wrapper-row {
	margin-bottom: 0px !important;
}
.fusion-chart-inner .fusion-chart-legend-wrap {
	display: none;
}
.homeportfolio .fusion-tabs {
	margin-bottom: 31px;
}
.method-home-wrapp {
	padding-top: 31px !important;
	padding-bottom: 22px !important;
}
.homeportfolio {
	padding-top: 31px !important;
	padding-bottom: 20px !important;
}
ul.download-row {
	padding: 0px;
	margin: 0px;
}
ul.download-row li {
	color: #fff;
	margin-left: 25px;
}
ul.download-row li a {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}
.fund-facts-wrappper-bg .fusion-column-wrapper {
	padding: 34px !important;
}
.fund-facts-wrapper .fund-facts-wrappper-bg p {
	color: #fff;
	font-size: 15px;
	margin-bottom: 11px;
}
.fund-facts-one {
	margin-bottom: 29px;
	border-bottom: solid 1px #d6d6d6 !important;
	padding-bottom: 10px !important;
}
.satisfied-clients-video {
	margin-top: 28px !important;
}
.blog-wrapper-row .fusion-date-box {
	background: #003366 !important;
}
.blog-wrapper-row i.fusion-icon-pen {
	color: #000 !important;
}
.blog-widget section#search-2 {
	display: none;
}
.blog-widget ul li a {
	color: #222 !important;
	font-size: 15px;
}
.blog-widget ul li a:before {
	color: #222;
}
.blog-wrapper-row a.fusion-read-more {
	color: #5a5a5a;
}
.blog-wrapper-row .pagination a {
	padding: 20px!important;
	height: 29px;
	width: 29px;
	color: #222;
}
.blog-wrapper-row .pagination span.current {
	padding: 15px;
	height: 29px;
	width: 29px;
	color: #fff;
	background: #003366;
}
.Join-our-team-wrapper table a {
	color: #222;
}
.complain-wrapper ul li span {
	padding-left: 21px;
}
.complain-wrapper ul li {
	margin-bottom: 9px;
}
footer .menu-footer-menu-container li a:hover {
	color: #777777 !important;
}
footer .menu-footer-menu-container li a:hover:before {
	color: #777777 !important;
}
footer .menu-footer-menu-container li.current-menu-item a {
	color: #777777 !important;
}
footer .menu-footer-menu-container li.current-menu-item a:before {
	color: #777777 !important;
}
.to-top-container.to-top-right a#toTop:hover {
	background: #2d2d2d !important;
}
.fusion-main-menu.fusion-flyout-menu ul li ul.sub-menu {
    border-top: solid 2px #000;
    background: #f5f5f5;
    display: inline-grid;
    position: relative;
    opacity: 1;
    visibility: visible;
}
.fusion-main-menu.fusion-flyout-menu  ul li ul.sub-menu li:hover a {
	background: #e8e8e8 !important; 
}
.error404 .fusion-title h2.title-heading-left {
	width: 100%;
	text-align: center;
	font-size: 29px !important;
	font-weight: 300 !important;
	color: #000!important;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 9px !important;
	padding-right: 0px !important;
}
.error404 section#content {
	margin-top: 23px;
	margin-bottom: 50px;
}
.error404 .fusion-error-page-useful-links {
	display: none;
}
.error404 .fusion-error-page-search {
	display: none;
}
.error404 .fusion-error-page-404 {
	width: 100%;
	text-align: center;
}
.readmore-button {
	border-radius: 0px !important;
	margin-bottom: 15px !important;
	padding: 10px 29px !important;
	color: #000000 !important;
	background: none !important;
	border: solid 1px #000 !important;
}
.readmore-button:hover {
	color: #fff !important;
	background: #000 !important;
}
.readmore-button span.fusion-button-text {
	color: #000 !important;
}
.readmore-button:hover span.fusion-button-text {
	color: #fff !important;
}
.fusion-button-wrapper {
	text-align: center;
	width: 100%;
	float: left;
}
.fusion-chart .fusion-chart-title {
	text-align: center;
	color: #000 !important;
}
.fusion-chart-inner canvas {
	padding-top: 21px;
}
.method-section-row span.fusion-imageframe {
	text-align: center;
	width: 100%;
}
.method-section-row span.fusion-imageframe img {
	max-width: 68%;
	display: inline-block;
}
.method-section-row .fusion-column-wrapper {
	max-width: 96%;
	margin: 0px auto;
}
.method-section-row h3 {
	font-size: 27px !important;
	margin: 0px !important;
	color: #000 !important;
	font-weight: 400 !important;
	margin-bottom: 6px !important;
}
.method-section-row p {
	font-size: 14px;
	color: #585858;
	line-height: 32px;
	font-weight: normal;
}
.method-section-row .fusion-text p {
	margin-bottom: 0px;
}
.method-section-row .fusion-text p span {
	text-align: center;
	width: 100%;
	float: left;
	font-size: 18px;
	margin-top: 16px;
	max-width: 91%;
	color: #000;
}
.method-right-block h3.subbb {
	margin: 0px;
	color: #000;
	font-weight: normal;
	margin-bottom: 14px;
}
.method-right-block {
	margin-top: 131px !important;
}
.result-rowright h3 {
	margin-bottom: 0px;
	margin: 0px;
	color: #000 !important;
	font-weight: normal !important;
	margin-bottom: 14px !important;
}
.result-rowright {
	margin-top: 20px !important;
}
.On-clients-top {
	margin-top: 14px;
}
.fusion-video.fusion-selfhosted-video.video-wrapper-row {
	height: auto;
	width: 428px !important;
	margin: 0px auto !important;
	float: none !important;
	display: inherit !important;
}
p.founder-test {
	font-style: italic;
	font-weight: 600;
}
.satisfied-customers {
	margin-bottom: 7px;
	width: 100;
	float: left;
}
.satisfied-customers2 {
	float: left;
	width: 100%;
	margin-bottom: 11px;
}
.our-services-wrapper h1.title-heading-left {
	display: none;
}
.our-services-wrapper h3 {
	width: 100%;
	float: left;
	margin-bottom: 1px;
	color: #000000 !important;
	font-weight: 300 !important;
	margin-top: 0px;
}
.our-services-wrapper .fusion-title {
	display: inline-block !important;
	width: 100% !important;
	background: #f1f1f1 !important;
	padding: 20px;
	padding-top: 12px;
	min-height: 251px;
}
.our-services-wrapper .title-sep-container {
	display: none;
}
.our-services-wrapper h3 a {
	color: #000;
	font-size: 24px !important;
}
.our-services-wrapper h5 {
	margin: 0px;
	float: left;
	width: 100%;
	padding-right: 0px;
}
.our-services-wrapper h5 strong {
	float: left;
	width: 100%;
	font-size: 15px;
	color: #000;
	margin-bottom: 9px;
	margin-top: 2px;
	font-weight: 500;
}
.tab-content .accordion {
	float: left;
	width: 100%;
}
.tab-content .accordion h3.accordion-title:before {
	content: "+";
	width: 20px;
	height: 22px;
	background: #003366;
	color: #fff;
	display: inline-block;
	line-height: 22px;
	text-align: center;
	margin-right: 0px;
	font-size: 15px;
	margin-right: 8px;
}
.tab-content .accordion h3.accordion-title.open:before {
	content: "-";
	width: 20px;
	height: 22px;
	background: #222222;
	color: #fff;
	display: inline-block;
	line-height: 22px;
	text-align: center;
	margin-right: 0px;
	font-size: 15px;
	margin-right: 8px;
}
.tab-content .accordion h3.accordion-title {
	border-bottom: solid 1px #003366;
	padding-bottom: 11px;
	outline: 0 !important;
	cursor: pointer;
	font-size: 15px !important;
	margin-bottom: 11px !important;
}
.tab-content .accordion .accordion-content {
	padding-top: 6px;
	padding-bottom: 18px;
	font-size: 15px;
}
.fusion-tabs.fusion-tabs-1 {
	margin-bottom: 0px;
}
.our-services-wrapper .fusion-title p {
	font-size: 14px;
	margin-bottom: 0px;
}
a.fusion-modal-text-link.On-clients-top.Client-Fully-Informed-img {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 0px;
}
.method-section-row.companies-text .fusion-text span {
	max-width: 100%;
}
.fusion-chart-inner .fusion-chart-legend-wrap {
	padding-bottom: 0px !important;
}
header.fusion-header-wrapper .fusion-logo img {
	width: 182px;
}
/*header.fusion-header-wrapper {
	padding-top: 4px;
	padding-bottom: 4px;
}*/


.read-mo a {
    border-radius: 0px;
    margin-bottom: 15px !important;
    padding: 10px 29px !important;
    color: #000000 !important;
    background: none !important;
    border: solid 1px #000 !important;
}

.read-mo a:hover {
   
    color: #fff !important;
    background: #000 !important;
    
}

header.fusion-header-wrapper .col-sm-1 ul li a {
    padding: 0px !important;
    margin-left: 7px !important;
}
header.fusion-header-wrapper .col-sm-1 {
    padding-right: 0px !important;
    text-align: right !important; 
}
header.fusion-header-wrapper .col-sm-1 .wpml-ls-legacy-list-horizontal {
    padding-right: 0px !important; 
}
.Join-our-team-wrapper table tbody tr:first-child td {
    background: #a5a5a5;
    color: #fff !important;
    font-weight: bold;
}
.Join-our-team-wrapper .table-1 tr:nth-child(even), .tkt-slctr-tbl-wrap-dv tr:nth-child(even) {
    background: #e1e1e1 !important;
}

.Join-our-team-wrapper .table-1 tr td, .tkt-slctr-tbl-wrap-dv tr td {
    border: 1px solid #dcdcdc;
    padding: 6px 20px !important;  color: #000 !important;
}
.job-dec-wrapper h3 {
    margin-bottom: 5px;
    font-weight: 500 !important;
    color: #000000 !important;
    font-size: 19px !important;
    margin-top: 0px;
    padding-bottom: 6px;
    margin-bottom: -1px;
}
.page-id-1667 .post-content {
    max-width: 82%;
    margin: 0px auto;
    background: #fff !important;
}

.page-id-1667 .post-content .fusion-fullwidth {
    background: #fff !important;
    padding: 32px !important;  
}

.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg, .avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu, .avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search {
    top: 57px !important;
    background: none !important;    
}
 



.single-post section#content .fusion-flexslider img {
    max-width: 41%;
}

body .ilightbox-inner-toolbar {
    display: none !important; 
}

.home-page-blog article .fusion-post-content-wrapper {
    min-height: 195px;
}




/* Mobile Layout */
@media only screen and (max-width: 767px) {
/* date 8-4-2020 */	
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1127 {
    width: 100% !important;
}

li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1118 {
    width: 100% !important;
}
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1716 {
    width: 100% ;
}
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1718 {
    width: 100% !important;
}
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-2061 {
    width: 100% !important;
}
/* */
.fusion-header-v6-content .fusion-flyout-menu-icons {
	margin-right: 0px !important;
	padding: 0px;
}
header .fusion-main-menu .menu-main-menu-container ul > li {
	width: 100%;
	float: left;
	margin-bottom: 11px;
}
.become-client-home-page .wpcf7 {
	max-width: 100%;
	margin: 0px auto;
}
.become-client-home-page .wpcf7 .col-sm-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.become-client-home-page .wpcf7 .col-sm-12 {
	padding-left: 0px;
	padding-right: 0px;
}
.fusion-chart-inner {
	width: 100% !important;
	margin: 0px auto !important;
}
.method-right-block {
	margin-top: 0px !important;
}
.contact-us-wrapp input {
	padding-left: 12px !important;
}
.contact-us-wrapp input.submits {
	margin-left: 0px !important;
}
.bg-text-block-wrapper .fusion-column-wrapper {
	padding-top: 54px !important;
	padding-bottom: 47px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.bg-text-block-wrapper .fusion-column-wrapper p {
	max-width: 100%;
}
.method-section-row span.fusion-imageframe img {
	max-width: 100%;
	display: inline-block;
}
.fusion-footer footer {
	padding-top: 19px;
	padding-bottom: 0px;
}
header.fusion-header-wrapper .col-sm-1 {
 display: none; 
}

header.fusion-header-wrapper .fusion-flyout-menu-icons.col-sm-1 {
 display: block;
} 	
body .fusion-main-menu ul {
    display: inline-block !important; 
}	 

.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg, .avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu, .avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search {
    top: 43px !important; 
    
}
header .fusion-main-menu ul li {
    width: 100% !important; 
}	
	
}

footer form .es-field-wrap input.es_txt_email {
    border-radius: 0px !important;
    background: #1d1d1d !important;
    border: solid 2px #1d1d1d !important;
    height: 56px !important;
    color: #fff;
}


footer form  input.es_subscription_form_submit {
    width: auto !important;
    height: 48px !important;
    border: none !important;
    padding: 0px 32px !important;
    background: #1d1d1d !important;
    color: #fff !important;
    margin-top: 7px !important;
    cursor: pointer; 
}


body .theblock-wrappe.theblock-wrappe-new {
    margin-top: 32px !important;
}

header.fusion-header-wrapper .fusion-flyout-search {
    height: 241px !important;
}
header.fusion-header-wrapper .fusion-flyout-search form.searchform {
    width: 1170px;
    background: #fff !important;
    padding-left: 13px;
    padding-right: 13px;
    border: solid 1px #f3f3f3;
    border-top: none;
    padding-top: 6px;
    margin-top: 0;
    padding-bottom: 20px;
}

header.fusion-header-wrapper .fusion-flyout-search form.searchform .fusion-search-button.search-button input {
    display: block !important;
    border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
    width: 147px;
    
}

header.fusion-header-wrapper .fusion-flyout-search form.searchform .fusion-search-field {
    border-top-left-radius: 50px;
    border: solid 1px #000;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
header.fusion-header-wrapper .fusion-flyout-search form.searchform .fusion-search-form-content {
    overflow: initial;
    max-width: 93%;
    margin: 0px auto;
}

header.fusion-header-wrapper .fusion-flyout-search form.searchform .fusion-search-field input.s {
    padding-left: 15px !important;
    font-size: 22px !important;
    height: 58px !important;
}

header.fusion-header-wrapper .fusion-flyout-search form.searchform .fusion-search-button.search-button input:hover {
    background: #000;
}



.home-page-blog .fusion-flexslider.flexslider.fusion-post-slideshow img {
    min-height: 252px !important;
    width: 100% !important;
}


span.page-text {
    margin-left: -45px; 
}


.home-page-blog .fusion-layout-column .fusion-column-wrapper {
    pointer-events: auto !important; 
}


section#recent-posts-3 {
    display: none !important; 
}
.page-id-1049 span.page-text {
    margin-left: -17px;
} 

.page-id-1591 span.page-text {
    margin-left: 0px;
}

.about-row {
    float: left;
    width: 100%;
}
.aboutname {
    display: inline-block;
}

.clind-imags {
    display: inline-block;
    width: 16%;
    margin-left: 43px;
}

.dynamic-model-page {
    margin-top: 4px;
}
.stable-perfomance-ing {
    margin-top: 14px !important;
}
.transparenc-eng {
    margin-top: 3px !important;
}
.neox-Three-Steps {
    margin-top: 4px !important;
}
.satisfied-clients-ing {
    margin-top: 10px !important;
}
.stadigt-bättre-sw {
    margin-top: 14px !important;
}
.full-transparens-sw {
    margin-top: 3px !important;
}
.neox-tre-steg {
    margin-top: 4px !important;
}
.nöjda-kunder {
    margin-top: 4px !important;
}


section#content .complain-wrapper {
    margin-top: 0px !important;
    height: auto !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.user-registration ul{padding-left:0px !important}
.method-title .avada-page-titlebar-wrapper{background-image:url('https://onlineprojectprogress.com/neoxcapital/wp-content/uploads/2020/01/bg.jpg');}
.method-title .entry-title{text-align:center;}
.fusion-page-title-bar.method-title.fusion-page-title-bar-breadcrumbs.fusion-page-title-bar-center {
    background-image: url("https://onlineprojectprogress.com/neoxcapital/wp-content/uploads/2020/01/bg.jpg");
	height:200px;
}
.method-title .fusion-page-title-row{padding-top: 50px;}


/* 28 april 2020 */
.method-sticky-header { max-width: 100%!important; left: 0!important; background-color: #fff;}
.method-sticky-header .Sticky-custom-menu { width: calc(100% + 30px); position: relative; left: -15px;}
.method-sticky-header .custom-title:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #0000005c; z-index: 1;}
.method-sticky-header .custom-title, .method-sticky-header .fusion-page-title-wrapper { position: relative; max-height: 140px;}
header .fusion-main-menu .menu-main-menu-container { max-width:1260px!important; padding: 15px 0!important; text-align: center; border-left: 0!important; border-right: 0!important;}
.fusion-main-menu.fusion-flyout-menu ul li ul.sub-menu{width: 100%;}
.fusion-header .fusion-main-menu.fusion-flyout-menu ul li ul.sub-menu li:hover a{width: 100%!important;}
.fusion-header li#menu-item-1121 a:hover, .fusion-header li#menu-item-1086 a:hover, .fusion-header li#menu-item-1119 a:hover, .fusion-header li#menu-item-1163 a:hover{width: 100%!important;}
/* 28 april 2020 end */

/* media queries */

@media (max-width: 992px){
	#menu-main-menu-1 { flex-wrap: wrap; }
	#menu-main-menu-1>li, #menu-main-menu-sw-1>li { width: 100%!important; margin: 0; border-bottom: 1px solid; margin-bottom: 20px;}
	#menu-main-menu-1 li ul { display: flex!important; flex-wrap: wrap; margin: auto; width: 100%; justify-content: center;}
	#menu-main-menu-1 .sub-menu li { width: max-content!important; padding: 5px 15px;}
	.method-sticky-header .custom-title>div{ min-height: 100%!important; height: 140px!important; }
	.method-sticky-header .custom-title>div>div{min-height: 100%!important;}
	.searchform { height: fit-content; padding: 30px 0!important;}
	.pioneering-wrapper-bg{ max-width: 100%;}
	.read-mo {text-align: center;}
	.fusion-imageframe, .fusion-imageframe img{width: 100%;}
	.fusion-page-title-bar .fusion-page-title-row h1{font-size: 32px !important;}
	.fusion-page-title-bar>div {min-height: 100%;}
	.fusion-page-title-bar .fusion-page-title-captions { display: flex; align-items: center; justify-content: center; height: 100%;	}
}

@media (max-width: 576px){
	img.alignnone.size-full.wp-image-3854 {padding-top: 4px!important;height: 23px!important;width: 21px!important;}
	.insti {font-size: 26px!important;padding-bottom: 7px;}
    .llm-funds {font-size: 26px!important;}
	.fund-heading {font-size: 26px!important;}
	.llm-fundss {font-size: 25px!important;}
	.our_comit {font-size: 25px!important;}
	.service-heading {font-size: 25px!important;}
	.fusion-text.neox-iq.neoxx {font-size: 25px!important;}
	h3{font-size: 18px!important;}
	p{ line-height: 26px!important;}
	#menu-main-menu-2 li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-2062, #menu-main-menu-2 li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-2063, header .fusion-main-menu ul li,#menu-main-menu-2 li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1127,#menu-main-menu-2 li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1118, li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-2061 {width: auto!important;}
	body .fusion-main-menu ul,  .Sticky-custom-menu li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-1722 { display: flex !important; flex-wrap: wrap; padding: 0 15px; justify-content: center;}
	.fusion-body .fusion-page-title-bar h1{font-size: 22px!important;}
	.method-sticky-header .custom-title>div>div{min-height: 100%!important;}
	header .fusion-main-menu .menu-main-menu-container{padding-bottom: 0!important;}
	header .fusion-main-menu ul li a{ width: max-content; text-align: center; margin: auto;}
	header.fusion-header-wrapper .fusion-flyout-search form.searchform .fusion-search-button.search-button input{width: 65px!important; height: 40px; line-height: 40px;}
	header.fusion-header-wrapper .fusion-flyout-search form.searchform .fusion-search-field input.s{font-size: 18px !important; height: 40px !important;}
	#content .discretionary-management h{font-size: 16px !important; line-height: 25px!important; max-width: 100%!important;}
	.method-section-row p, .right-column-img-text .fusion-column-wrapper p{font-size: 14px!important; line-height: 25px!important;}
	.method-sticky-header .custom-title, .method-sticky-header .fusion-page-title-wrapper{max-height: 80px; height: 80px!important;}
	.method-sticky-header .custom-title>div{min-height: 100%!important; height: 100%!important; max-height: 100%!important;}
}
.our_comit {font-size: 30px;color: #f9f6f6;}
.services-offering{
	line-height: .3;
}
.service-heading{
	color:#003366;
	font-size: 30px;
    line-height: 1.2;
	font-family: 'Roboto';
}
.fund-heading{
	color:#003366;
	font-size: 30px;
	font-family: 'Roboto';
}
.llm-fund{
	color:#003366;
}
.neox-iq{
	color:white !important;
}
.fusion-text-c{
	line-height: 2;
	font-size:15px;
	color: #003366;
}
.fusion-text-d{
	line-height: 1.5;
	font-size:15px;
	color:white !important;
}
.fusion-text-h {
    color: #fff;
    font-size: 30px;
}
.fusion-text-e{
	line-height: 1.5;
	font-size:15px;
	color:white !important;
}
.portfolio h{
	color:white !important;
	font-size:13px;
}
.home_service{
	display: flex;
    align-items: center;
}
.home_service p{
    margin-bottom: 0;
    line-height: normal;
    margin-right: 15px;

}
.home_service h{
    margin: 0;
	font-size: 30px;
	color:#003366;
	font-family: 'Roboto';
	padding: 18px;
}
.fusion-text-z{	
	line-height: 2;
	font-size:15px;
}
.select-fund h{
	font-size:11px;
}
.insti{
	color:#003366;
    font-size: 30px;
}
.fusion-text.for-insti {
    color: #003366;
    line-height: 1.3;
}
.fund-contain{
    color: white;
}
.fund-button {
    margin-left: -195px;
}   
.footer-text{
    font-size: 17px;
    color: #003366;
	line-height:1.5;
}
.fusion-text-commitment{
	line-height: 1.5;
	font-size:15px;
	color:white;
}
.col-sm-9{
	padding-right: 371px;
}
.explore-button{
		margin-right: 558px;
}
.llm-funds{
    font-size: 30px;
}
.llm-fundss{
    font-size: 30px;
	line-height:1.3 !important;
}
.fusion-text-fund-fact{
	font-size: 16px;
	line-height:1.5
}
.fusion-text-fact{
	line-height: 1.5;
    font-size: 13px;
}
.certificate-sif{
	color:#003366;
	font-size: 13px;
}
.fund-facts{
	font-size:22px;
}
.footer-button{
	border: 2px solid #3399FF;
    padding: 2px 68px;
    border-radius: 10px;
    font-size: 23px;
    background-color: #003366;
    display: inline-block;
}
.footer-linkedin{
	border: 2px solid #3399FF;
	border-radius: 10px;
	padding: 8px 68px;
	margin-right: 9px;
	margin-top: -17px;
}
/* media queries end */
.select-fund .nav-tabs{
	justify-content: normal;
}
.select-fund .nav-tabs li a.tab-link h.fusion-tab-heading{
	font-size: 15px;
}
.select-fund .nav-tabs li.active a{
	background-color: #003366!important;
}
.select-fund .nav-tabs li.active a h.fusion-tab-heading{
	color: #fff;
}
div#Home-main-post .fusion-layout-column.fusion_builder_column.inner-page-blog{
	background-color:#fff;
}
.get-in-touch-button{
	
    font-size: 20px !important;
	font-weight:normal;
}
.start-date{
	padding: 0px 58px;
    color: #003366;
}
a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-2.fusion-button-default-span.get-in-touch-button {
    font-weight: 400;
}
.bar div {
    height: auto !important;
    padding-left: 7px;
}
.footer-image{
	padding-left:0px !important;
	padding-right:0px !important;
}
.footer-button:hover {
    background-color: #fff;
    border-color: #3399FF;
    color: #003366 !important;
}
.wpcf7-form-control-wrap {
    position: static !important;
}
rs-group#slider-2-slide-6-layer-1 {
    visibility: collapse !important;
}
/*.avada-page-titlebar-wrapper-header.w-header{opacity: 0;}*/
.main-heading{padding-right: 150px !important;line-height: 1.0 !important;}
.sub-heading{font-size: 30px !important;
    display: flex;
    line-height: normal !important;
	padding: 3px !important;
}
a.canvasjs-chart-credit {
    display: none;
}
.rect {
	fill:#fff !important;
}
.path {
	stroke:#fff !important;
}
.fusion-text.SEK-Retail-Downloads {
    color: #003366;
    font-size: 22px;
}
.fusion-text.ISIN {
    color: #003366;
    font-size: 22px;
}
.fact-sheet{
	text-decoration: underline;
}
a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-3.fusion-button-default-span.fusion-button-default-type.explore-button {
    margin-bottom: 68px;
    margin-left: 8px;
}
a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-2.fusion-button-default-span.get-in-touch-button {
    margin-top: 50px;
}
a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-1.fusion-button-default-span.fusion-fund {
    margin-top: 68px;
}
article#blog-1-post-3101 {
    margin-bottom: 68px !important;
}
.fusion-blog-layout-large-alternate .fusion-meta-info, .fusion-blog-layout-medium-alternate .fusion-meta-info {
    margin-top: -17px !important;
}
.fusion-blog-shortcode .post {
    margin-bottom: 68px !important;
}
.fusion-text.neox-iq.neoxx {
    font-size: 30px;
}
a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-4.fusion-button-default-span.fusion-button-default-type {
    margin-top: 35px;
    margin-right: 393px;
}
div#Tailor-Made-Portfolio {
    margin-bottom: 68px;
}
span.fusion-button-text {
    font-weight: normal;
    font-size: 18px;
}
img.img-responsive.wp-image-3940 {
    height: 347px;
}
.fusion-header.hight-header {
    height: auto !important;
}
.fixed .fusion-logo{text-align: center;}
.fixed .fusion-header .fusion-logo {
    margin: 0px 0px -10px 0px !important;
    padding-top: 6px;
}
.click-menu{opacity:0;}
a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-1.fusion-button-default-span.fusion-button-default-type.our-fund {
    margin-top: 43px;
	margin-bottom: 68px;
	padding: 16px 32px 11px;
}
#side-header .fusion-logo, .fusion-header .fusion-logo {
    margin: 0!important;
}
body:not(.fusion-header-layout-v6) .fusion-main-menu>ul>li>a, body:not(.fusion-top-header) .fusion-main-menu>ul>li>a {
    height: 32px !important;
}
.fusion-main-menu .sub-menu {
    font-family: Roboto;
    font-weight: 400;
    width: 110px !important;
    background-color: #f9f9f9;
}
.data_just{display: block;text-align: center!important;margin: 15px 0px 0px!important;line-height: 30px!important;margin-top:30px; font-size: 30px!important;}
.fusion-layout-column {
    margin-bottom: 0px!important;
}
.comon-font{
	font-family: 'Roboto';
}

.fusion-main-menu li.current-menu-item a {
    border-bottom: 5px solid #003366;
}
.fusion-modal h1, .fusion-post-content h1, .fusion-widget-area h1, .post-content h1, .search-page-search-form h1, .title h1 {
    color: #003366!important;
    font-size: 24px!important;
}
.service-line h1{position:relative;font-weight:400!important;}
.service-line h1:before{    
	content: '';
    position: absolute;
    top: 14px;
    right: 0;
    width: 70%;
    height: 2px;
    background: #003366;
	
}
section#content .fusion-fullwidth {
    margin-top: 0px !important;
}
.fusion-blog-pagination .fusion-hide-pagination-text .pagination-next:hover, .fusion-blog-pagination .fusion-hide-pagination-text .pagination-prev:hover, .fusion-blog-pagination .pagination .current, .fusion-blog-pagination .pagination a.inactive:hover, .fusion-date-and-formats .fusion-date-box, .fusion-filters .fusion-filter.fusion-active a, .fusion-hide-pagination-text .fusion-blog-pagination .pagination .pagination-next:hover, .fusion-hide-pagination-text .fusion-blog-pagination .pagination .pagination-prev:hover, .fusion-login-box a:hover .reading-box, .fusion-tabs.classic .nav-tabs > li.active .tab-link, .fusion-tabs.classic .nav-tabs > li.active .tab-link:focus, .fusion-tabs.classic .nav-tabs > li.active .tab-link:hover, .fusion-tabs.vertical-tabs.classic .nav-tabs > li.active .tab-link, .table-2 table thead {
    border-color: #003366!important;
}
.layout-title {
    font-size: 30px;
    color: #003366;
    font-family: 'Roboto';
}
.fusion-blog-shortcode-1 .fusion-blog-layout-grid .fusion-post-grid {
    padding: 0px 10px 10px!important;
}

a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-1.fusion-button-default-span.fusion-fund.comon-font {
    margin-right: 106px!important;
}
.fusion-read-more{
	border-radius: 6px;
    color: #fff;
    border: 2px solid #3399FF;
    padding: 1px 9px;
    background-color: #003366;
}
.fusion-read-less {
	border-radius: 6px;
    color: #fff;
    border: 2px solid #3399FF;
    padding: 6px 9px;
    background-color: #003366;
}
.fusion-read-more:hover{
    background-color: #fff!important;
    border-color: #3399FF;
    color: #003366 !important;
}
.fusion-read-less:hover{
    background-color: #fff!important;
    border-color: #3399FF;
    color: #003366 !important;
}

.arrow-sign article .fusion-meta-info .fusion-read-more:after{display:none;}

.Retail {
    color: #003366;
	padding: 0px 60px;
}
.blog-wrapper-row a.fusion-read-more {
    color: #ffffff!important;
}
.blog-wrapper-row a.fusion-read-more:hover {
    color: #003366!important;
}
.fusion-tabs.nav-not-justified .nav-tabs .tab-link {
    padding: 5px 6px!important;
}
.fusion-tabs .nav-tabs li .tab-link {
    border-top: 1px solid #f1f2f2!important;
}
.tab-content {
    margin: 0px -60px;
}
.value_A {
    padding: 0px 45px;
}
.fusion-header {
    height: 52px!important;
}
a.fusion-read-more:after {
    display: none;
}
img.alignnone.size-full.wp-image-4088 {
    padding-top: 7px!important;
    height: 30px!important;
    width: 24px!important;
}
img.alignnone.size-full.wp-image-3854 {
	padding-top: 6px!important;
}
.fusion-text h3{
    font-weight: normal!important;
    color: #003366!important;
    font-size: 24px!important;
	margin-bottom: 6px;
}
.fusion-author .fusion-author-title, .fusion-header-tagline, .fusion-modal .modal-title, .fusion-modal h3, .fusion-pricing-table .pricing-row, .fusion-pricing-table .title-row, .fusion-title h3, .fusion-widget-area h3, .main-flex .slide-content h3, .post-content h3, .project-content h3, .sidebar .widget h3 {
    line-height: 1.2!important;
}

.page-text {
    font-weight: 800;
    color: #003366;
    font-size: 18px;
}
#main {
      padding-bottom: 0%!important;
}
.fusion-page-title-bar {
    background-image: url(https://onlineprojectprogress.com/neoxcapital/wp-content/uploads/2021/08/Landing-top-new-210831-1-e1631772099552.jpg)!important;
}
.fusion-load-more-button {
    margin-bottom: 68px!important;
}
.Q_and_A_fund_button .fusion-tab-heading{
	color: #003366!important;
}
#main .post h2, .fusion-modal h2, .fusion-post-content h2, .fusion-title h2, .fusion-widget-area h2, .post-content h2, .search-page-search-form h2, .title h2 {
    color: #003366!important;
}
.open_app {
    font-size: 24px;
}

/* .read_more .service_details .fusion-posts-container{height: 650.75px!important;} */
.read_more .service_details .fusion-posts-container .fusion-meta-info{margin-top: 0!important;}
.read_more .service_details .fusion-posts-container article{margin-bottom:0!important;}
.read_more .service_details .fusion-posts-container article .fusion-post-wrapper{border-bottom: transparent!important;}
.service-artical{display:none; background: #f1f1f1;margin-left: -10px;margin-right: -10px;padding: 10px;border-top: 2px solid #036;margin-bottom: 60px;}
.read_more .service_details .fusion-posts-container article.active_class{height: 663.75px!important;}
.read_more .service_details .fusion-posts-container article.active_class .fusion-post-wrapper{position: relative;z-index: 9999;}
.service_content_deatils{position:relative;z-index:1;}
.spinner-border {
    display: inline-block;
    width: 22px!important;
    height: 22px!important;
	color:#003366;
    margin-left: 7px;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.fusion-meta-info {padding: 10px 0px!important;}
.fusion-post-wrapper {border: 0px solid #FFFFFF!important;}
.user-registration .form-row{display:block;}
h3.title-heading-left {color: #003366!important;}
.button {
	border-radius: 6px!important;
    color: #fff;
    border: 2px solid #3399FF!important;
    padding: 6px 9px;
    background-color: #003366;
}
.button:hover{
    background-color: #fff!important;
    border-color: #3399FF;
    color: #003366 !important;
}
.fusion-text-h {
    color: #fff;
    font-size: 30px;
}
.category-services .fusion-rollover{display:none;}
.search-field label{display: block!important; margin-bottom: 0px!important;}












@media(max-width:1250px){
	.home_service h{font-size: 26px !important;}
	.fusion-button.button-3{display: inline-block;width: 300px;}
	.fusion-button.button-4{width: 200px;}
	header .fusion-main-menu ul li{padding: 10px 6px;}
	#media_image-3 img{width: 280px;}
	#block-5{width: 280px;}
	a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-1.fusion-button-default-span.fusion-fund.comon-font {
    margin-right: 50px!important;}
	.read_more .service_details .fusion-posts-container article.active_class {height: 619.75px!important;}
	.footer-button {padding: 2px 42px;}
	.footer-linkedin {border: 2px solid #3399FF;border-radius: 10px;padding: 8px 43px;margin-right: 62px;margin-top: -17px;}
	span.fusion-button-text {font-weight: normal;font-size: 15px;}
	#reviews #comments > h2, #tribe-events-content .tribe-events-tooltip .entry-title, #tribe-events-content .tribe-events-tooltip .tribe-event-title, .fusion-carousel-title, .fusion-flip-boxes .fusion-flip-box .flip-box-heading-back, .fusion-modal h4, .fusion-person .person-author-wrapper .person-name, .fusion-person .person-author-wrapper .person-title, .fusion-rollover .fusion-rollover-content .fusion-rollover-title, .fusion-sharing-box h4, .fusion-tabs .nav-tabs > li .fusion-tab-heading, .fusion-tabs-widget .fusion-tabs-nav ul li a, .fusion-widget-area h4, .person-author-wrapper, .popover .popover-title, .post-content h4, .tribe-block__tickets__registration__tickets__header {
    font-size: 15px!important;}
	div#chart_div1 {width: 550px!important;}
	div#chart_divb {width: 550px!important;}
	div#chart_divI {width: 550px!important;}
	div#chart_div {width: 442px!important;}
}


.read_more .service_details .fusion-posts-container article{width: 33.3333%!important;}
.fusion-body .fusion-footer-copyright-center .fusion-copyright-content{padding: 0px 0px 0px 0px!important;}

}


@media(max-width:991px){
	.fusion-body .fusion-footer-copyright-center .fusion-copyright-content{padding: 0;}
	.explore-button {margin-right: 0;}
	.home_service{margin-bottom: 20px;}
	.fusion-button.button-4{margin: 20px 0;}
	header .fusion-main-menu ul li{padding-right: 15px!important;}
	.service-line h1:before{width: 63%!important;}
	.fusion-text-h {color: #fff;font-size: 30px;}
	div#chart_div {width:432px!important;}
	
}


@media(max-width:900px){
	.read_more .service_details .fusion-posts-container article .fusion-alignleft{width: 100%;}
	.read_more .service_details .fusion-posts-container article .fusion-alignleft a.fusion-read-more{text-align: center;}
	.nav.fusion-mobile-tab-nav {margin-top: 16px;}
	.eur_down .fusion-column-wrapper{padding: 24px 0px 0px 0px!important;}
	.insti_section .fusion-column-wrapper{padding: 25px 0px 0px 0px!important;}
	.prospects_down .fusion-column-wrapper{padding: 14px 0px 0px 0px!important;}
	.fusion-fullwidth.fullwidth-box.fusion-builder-row-5.nonhundred-percent-fullwidth.non-hundred-percent-height-scrolling {padding-top: 15px!important;}
	.fusion-layout-column.fusion_builder_column.fusion_builder_column_1_5.fusion-builder-column-15.fusion-one-fifth.\31 _5 {
    margin-top: -32px!important;}
	img.img-responsive.wp-image-3940 {height: 135px;}
	a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-3.fusion-button-default-span.fusion-button-default-type.explore-button {
     margin-left: 26px;}
	.insight_layout{padding-bottom: 0px!important;}
	div#chart_div1 {width: 442px!important;}
	div#chart_divb {width: 442px!important;}
	div#chart_divI {width: 442px!important;}
	div#chart_div {width: 442px!important;margin-left: -50px;}

}
		
@media(max-width:767px){
	.fusion-mobile-menu-icons {margin-top: 10px!important;}
	.ltr .fusion-mobile-menu-text-align-center .fusion-open-submenu {right: 20px;}
	section#content .fusion-fullwidth{padding-left: 10px!important;padding-right: 10px!important;}
	.fusion-button.button-2{margin-top: 0px!important;}
	.blog-wrapper-row .fusion-post-content.post-content h2{font-size: 16px !important;}
	.fusion-button.button-3{margin-bottom: 18px!important;}
	.fusion-blog-shortcode .post {margin-bottom: 28px !important;}
	article#blog-1-post-3101 {margin-bottom: 18px !important;margin-top: 14px;}
	.fusion-blog-layout-medium-alternate .fusion-meta-info{margin-top: 5px !important;}
	#media_image-3 img {width: 200px;}
	.fusion-columns .fusion-column:not(.fusion-column-last){margin: 0 0 20px!important;}
	.footer-button{margin-top: 30px;}
	.footer-linkedin {margin-bottom: 20!important;}
	.fusion-columns .fusion-column{margin: 0 0 0px!important;}
	.heading-1{margin-top: 25px!important;}
	.heading-2 .fusion-column-wrapper, .heading-3 .fusion-column-wrapper{padding: 0px 0px 0px!important;}
	.fusion-button.button-1{    margin-top: 18px!important;margin-bottom: 10px!important;}
	.arrow-icon .fusion-column-wrapper{    padding: 20px 0px 0px!important;}
	.bg-text-block-wrapper .fusion-column-wrapper, .hundred-percent-fullwidth{padding: 0 !important;}
	.invest-heading .fusion-column-wrapper, .invest-content .fusion-column-wrapper{padding: 0px 0px!important;}
	.own-account .fusion-column-wrapper{padding: 10px 0px 0px!important;}
	.button-1 .fusion-column-wrapper{padding: 0!important;}
	.approach-heading .fusion-column-wrapper{padding: 22px 0px 0px!important;}
	.approach-content .fusion-column-wrapper{padding: 0px!important;}
	.service-line h1:before{width: 24%!important;}
	a.fusion-button.button-flat.fusion-button-default-size.button-custom.button-1.fusion-button-default-span.fusion-fund.comon-font {
    margin-right: 0px!important;}
	.fusion-text-h {color: #fff;font-size: 28px!important;}
	.read_more .service_details .fusion-posts-container article{width: 100%!important; position:inherit !important;top: 0 !important;}
	img.alignnone.size-full.wp-image-4088 {
    padding-top: 2px!important;
    height: 22px!important;
    width: 20px!important;
}
   .home_page_graphs{padding-bottom: 0px!important;}
   .fusion-text-commitment {padding-top: 14px;}
   .fusion-text.neox-iq.neoxx {font-size: 26px!important;margin-top:14px;margin-bottom:14px;}
   .fusion-text.SEK-Retail-Downloads {font-size: 26px!important;}
   .fusion-text.ISIN {font-size: 26px!important;}
   .read_more .service_details .fusion-posts-container article.active_class{position: inherit!important; height: auto !important;}
   .fusion-meta-info .service-artical{margin-top:50px;}
   .service-artical {margin-bottom: -77px;}
   .service_content_deatils{margin-bottom: 0px!important;}
   .fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-mobile-nav-holder{padding-top: 0px!important;}
}